<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/simple.css">
	<title>Deltagerliste</title>
</head>

<body>
	<p>Innlogget som:
		<span th:text="${deltager.getMobil()}"></span> /
		<span th:text="${deltager.getFornavn()}"></span>
		<span th:text="${deltager.getEtternavn()}"></span>
	</p>
	<h2>Deltagerliste</h2>
	<table>
		<tr>
			<th>Kjønn</th>
			<th>Navn</th>
			<th>Mobil</th>
		<tr th:each="deltagerListe : ${alleDeltagere}"
			th:class="${deltager.mobil == deltagerListe.mobil ? 'highlight' : ''}">
			<td
				th:text="${deltagerListe.kjonn == 'mann' ? 'Mann' : (deltagerListe.kjonn == 'kvinne' ? 'Kvinne' : 'Annet')}">
			</td>
			<td th:text="${deltagerListe.fornavn + ' ' + deltagerListe.etternavn}"></td>
			<td th:text="${deltagerListe.mobil}"></td>
		</tr>
	</table>
	<br>
	<form action="/utlogging" method="post">
		<button type="submit">Logg ut</button>
	</form>
</body>

</html>